<div class="row justify-content-start">
  <div class="col-md-offset-3	 col-md-9">
    <div *ngFor="let activity of activities">
      <div class="panel panel-primary  ">
        <div class="panel-heading">
          <h2 class="panel-title">{{activity.actId}}</h2>
        </div>
        <div class="panel-body row">
          <div class="col-md-4">
            <p class="activity-actName"> {{activity. actName | uppercase}}</p>
          </div>
          <div class="col-md-4">
            <p class="activity-actLocation">{{activity.actLocation}}</p>
          </div>
          <div class="col-md-4">
            <p class="activity-actDescription">{{activity.actDescription}}</p>
          </div>
          <div class="col-md-4">
            <p class="activity-actPeriod">{{activity.actPeriod}}</p>
          </div>
          <div class="col-md-4">
            <p class="activity-actDate">{{activity.actDate}}</p>
          </div>
          <div class="col-md-4">
            <p class="activity-actHost">{{activity.actHost}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

